.img-fundo{
    background-image: url("../img/background-page.jpg");
    object-fit: cover;
}

.img-configuration {
    height: 50px;
    object-fit: cover;
    width: 100px;
}

.cor-container-tail {
    background-color: #008080;
}

#session-sobre {
    margin-top: 5.5em;
}

.cor-texto-teal {
    color: #008080;
}

.cor-texto-teal:hover {
    color: #008080;
}

.btn-footer-style {
    border-color: #008080;
    color: #008080;
}

.btn-footer-style:hover {
    background-color: #008080;
    color: #f5f5f5;
}
