{% load static %}
<footer class="page-footer font-small mdb-color pt-4">

    <main class="container-fluid text-center text-md-left">
      <div class="row text-center text-md-left mt-3 pb-3">
        <article class="col-md-4 col-lg-4 col-xl-4 mx-auto mt-3">

            <h6 class="text-uppercase mb-4 font-weight-bold">Newsletter</h6>
            <p class="text-secondary">
                Cadastre-se em nossa Newsletter e fique por dentro de diversos conteúdos bacanas!
            </p>
            <form class="input-group" action="{% url 'index' %}" method="POST">
                {% csrf_token %}
                <input type="email" name="email-newsletter" class="form-control" placeholder="Entre com seu e-mail" aria-label="Entre com seu e-mail" aria-describedby="button-addon2">
                <div class="input-group-append">
                    <button class="btn btn-footer-style" type="submit" id="button-addon2">Cadastrar-me!</button>
                </div>
            </form>

        </article>

        <!-- Grid column -->
        <hr class="w-100 clearfix d-md-none">
        <!-- Grid column -->

        <article class="col-md-4 col-lg-4 col-xl-2 mx-auto mt-3">
          <h6 class="text-uppercase mb-4 font-weight-bold">Links Úteis</h6>
          <p>
            <a href="#!" class="text-decoration-none text-secondary" data-toggle="modal" data-target="#exampleModal">Entre em Contato</a>
          </p>
          <p>
            <a href="#!" class="text-decoration-none text-secondary" data-toggle="modal" data-target="#exampleModal">Sua Publicação?</a>
          </p>
          <p>
            <a href="#!" class="text-decoration-none text-secondary" data-toggle="modal" data-target="#exampleModal">Sobre o Repositório</a>
          </p>
          <p>
            <a href="#!" class="text-decoration-none text-secondary" data-toggle="modal" data-target="#exampleModal">Ajuda</a>
          </p>
        </article>

        <!-- Grid column -->
        <hr class="w-100 clearfix d-md-none">
        <!-- Grid column -->

        <article itemscope itemtype="http://schema.org/EducationalOrganization" class="col-md-4 col-lg-4 col-xl-3 mx-auto mt-3">
          <h6 class="text-uppercase mb-4 font-weight-bold"><span itemprop="name">Localização</span></h6>
          <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
            <p class="text-secondary"><i class="fas fa-home mr-3 text-dark"></i>
              <span itemprop="streetAddress">Av. Pres. Vargas, 2331</span>-
              <span itemprop="addressLocality"> Garça</span>-
              <span itemprop="addressRegion"> SP</span>
            </p>
          </div>
          <p>
            <i class="fas fa-envelope mr-3 text-dark"></i>
            <a href="mailto:" class="text-decoration-none text-secondary">
              <span itemprop="email">rtf_aberto@fatec.sp.gov.br</span>
            </a>
          </p>
          <p class="text-secondary">
            <i class="fas fa-phone mr-3 text-dark"></i>
            <span itemprop="telephone">+ 55 (14) 3471 4723</span>
          </p>
        </article>

      </div>
      <hr>
      <div class="row d-flex align-items-center" >

        <div class="col-md-7 col-lg-8" itemscope itemprop = "organization" itemtype = "http://schema.org/EducationalOrganization">
          <p class="text-center text-md-left">&copy; 2020 Copyright:
            <a itemprop="url" href="http://fatecgarca.edu.br/" class="text-decoration-none cor-texto-teal">
              <strong itemprop="name"> Fatec Garça - SP</strong>
            </a>
          </p>

        </div>

        <div class="col-md-5 col-lg-4 ml-lg-0">

            <div class="text-center text-md-right">
                <ul class="list-unstyled list-inline">
                <li class="list-inline-item">
                    <a class="btn-floating btn-sm rgba-white-slight mx-1 cor-texto-teal" href="https://pt-br.facebook.com/fatecgarca/">
                    <i class="fab fa-facebook-f fa-2x"></i>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a class="btn-floating btn-sm rgba-white-slight mx-1 cor-texto-teal" href="https://www.instagram.com/fatecgarca/">
                    <i class="fab fa-instagram fa-2x"></i>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a class="btn-floating btn-sm rgba-white-slight mx-1 cor-texto-teal" href="https://www.linkedin.com/company/centro-paula-souza---fatec-gar-a/">
                    <i class="fab fa-linkedin-in fa-2x"></i>
                    </a>
                </li>
                </ul>
            </div>
        </div>
      </div>
    </main>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title font-weight-bold" id="exampleModalLabel">LINKS ÚTEIS</h5>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <h6 class="font-weight-bold">Sobre o Repositório</h6>
                <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <h6 class="font-weight-bold">Sua Publicação?</h6>
                <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <h6 class="font-weight-bold">Ajuda</h6>
                <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <h6 class="font-weight-bold">Entre em Contato</h6>
                <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
            </div>
        </div>
      </div>
    </div>
</footer>
