{% load static %}
    <header itemscope itemtype="http://schema.org/EducationalOrganization">
        <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
            <a itemprop="url" class="navbar-brand" href="{% url 'index' %}">
                <figure>
                    <img itemprop="logo" src="{% static './img/logo.png' %}" class="d-inline-block align-top img-configuration" alt="Logo do Repositório Institucional" loading="lazy">
                </figure>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
                <div class="navbar-nav" itemscope itemtype="http://schema.org/Menu">

                    {% if user.is_authenticated %}
                        <a itemprop="url" class="nav-item nav-link {{ context.index }}" href="{% url 'index' %}"><span itemprop="name">Início</span><span class="sr-only">(current)</span></a>
                        <a itemprop="url" class="nav-item nav-link {{ context.my_submissions }}" href="{% url 'my_submissions' %}"><span itemprop="name">Minhas Publicações</span><span class="sr-only">(current)</span></a>
                        <a itemprop="url" class="nav-item nav-link {{ context.new_submission }}" href="{% url 'create_submission' %}"><span itemprop="name">Novas Publicações</span></a>
                        <a itemprop="url" class="nav-item nav-link {{ context.submissions }}" href="{% url 'submission' %}"><span itemprop="name">AutoPublic</span></a>
                        {% if user.is_superuser %}
                            <a itemprop="url" class="nav-item nav-link" href="{% url 'admin:index' %}"><span itemprop="name">Admin</span></a>
                        {% endif %}
                        <a itemprop="url" class="nav-item nav-link" href="{% url 'logout' %}"><span itemprop="name">Sair</span></a>
                    {% else %}
                        <a itemprop="url" class="nav-item nav-link {{ context.index }}" href="{% url 'index' %}"><span itemprop="name">Início</span><span class="sr-only">(current)</span></a>
                        <a itemprop="url" class="nav-item nav-link {{ context.collections }}" href="{% url 'collection' %}"><span itemprop="name">Coleções</span></a>
                        <a itemprop="url" class="nav-item nav-link {{ context.signin }}" href="{% url 'signin' %}"><span itemprop="name">Entrar</span></a>
                    {% endif %}
                </div>
            </div>
        </nav>
    </header>
