{% load static %}
<!-- ##### Pagination ##### -->
<section class="top-catagory-area section-padding-20-0 ml-2">
    <div class="container-fluid">
        {% if publications.has_other_pages %}
        <ul class="pagination">
            {% if publications.has_previous %}
            <li class="page-item">
                <a href="?page={{ publications.previous_page_number }}" class="page-link">&laquo;</a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link">&laquo;</a>
            </li>
            {% endif %}
            {% for publication in publications.paginator.page_range %}
                {% if publications.number == publication %}
                <li class="page-item active">
                    <a class="page-link" style="background-color: #008080; border-color: #008080;">{{ publication }}</a>
                </li>
                {% else %}
                <li class="page-item">
                    <a href="?page={{publication}}" class="page-link">{{ publication }}</a>
                </li>
                {% endif %}
            {% endfor %}
            {% if publications.has_next %}
            <li class="page-item">
                <a href="?page={{ publications.next_page_number }}" class="page-link">&raquo;</a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link">&raquo;</a>
            </li>
            {% endif %}
        </ul>
        {% endif %}
    </div>
</section>
<!-- ##### Pagination End ##### -->
