{% load static %}

    <nav class="navbar navbar-light justify-content-end">
        <form class="form-inline" action="{% url 'publication' course.id %}" method="GET">
            <input class="form-control mr-sm-2" name="search" type="search" placeholder="Buscar pelo Título ?" aria-label="Search">
            <button class="btn btn-footer-style my-2 my-sm-0" type="submit">Buscar</button>
        </form>
    </nav>
