{% extends 'partials/_base.html' %}
{% load static %}
{% block content %}

    <main class="mt-5">
        <section itemscope itemtype="http://schema.org/ScholarlyArticle" class="container text-center tamanho-componente">
            <a class="close" aria-label="Close" href="{% url 'index' %}">
                <span aria-hidden="true">&times;</span>
            </a>

            <figure>
                <img itemprop="image" class="mb-5" src="{% static 'img/logo.png' %}" alt="Imagem do logotipo do sistema" width="120" height="72">
            </figure>

            <h1 itemprop="about" class="mb-5 font-weight-normal" \
            style="font-family: 'Merienda One', cursive; font-size: 40px;">
                Publicação!
            </h1>

            <hr class="w-100 clearfix d-md-none">

            <p class="font-weight-bold text-secondary text-left">Título</p>
            <h4 class="text-justify" itemprop="headline">{{ publication.summary }}</h4>

            <p class="font-weight-bold text-secondary text-left">Resumo</p>
            <p class="text-justify" itemprop="abstract">{{ publication.abstract }}</p>

            <p class="text-left">
                <span class="font-weight-bold text-secondary">Autores:</span>
                <span itemprop="author">{{ publication.author }}</span>,
                <span itemprop="author">{{ publication.contributor }}</span>
            </p>

            <p class="text-left">
                <span class="font-weight-bold text-secondary">Data publicação:</span>
                <span itemprop="datePublished">{{ publication.date_published|date:"d/m/Y" }}</span>
                <span>às {{ publication.date_published|date:"h:m" }}</span>
            </p>

            <p class="text-left">
                <span class="font-weight-bold text-secondary">Publicado em:</span>
                <span itemprop="maintainer">Repositório Tecnologico Fatec</span>
            </p>

            <p class="text-left">
                <span class="font-weight-bold text-secondary">Gênero:</span>

                {% if publication.genre == 'a' %}
                    <span itemprop="genre">Artigo</span>
                {% elif publication.genre == 'm' %}
                    <span itemprop="genre">Monografia</span>
                {% elif publication.genre == 'r' %}
                    <span itemprop="genre">Relatório Técnico</span>
                {% elif publication.genre == 't' %}
                    <span itemprop="genre">Tese</span>
                {% endif %}

            </p>

            <p class="text-left">
                <span class="font-weight-bold text-secondary">Este item está relacionado a coleção:</span>
                <span itemprop="publisher">{{ publication.course }}</span>
            </p>

            <p class="font-weight-bold text-secondary text-left">
                Download:
                <a itemprop="sameAs" href="{{publication.file_publication.url}}" target="_blank">
                    <i class="fa fa-download ml-2 text-dark" style="font-size:24px;"></i>
                </a>

            </p>

            <hr class="w-100 clearfix d-md-none">

            <p class="mt-5 mb-3 text-muted">&copy; 2020 - v1.0.0</p>
        </section>
    </main>

{% endblock %}
