{% extends 'partials/_base.html' %}
{% load static %}
{% block content %}
    {% include 'partials/_header.html' %}
        <main class="container-fluid img-fundo">
            <section id="session-sobre" class="col-12 pb-5">

                <h2 class="pt-4 text-light text-center font-weight-bold " \
                style="font-family: 'Merienda One', cursive; font-size: 40px; text-shadow: 5px 5px 5px #000000">
                    Itens de Coleções
                </h2>

                <p class="text-light text-center">Escolha o item de coleção que deseja acessar para visualizar as publicações</p>
                <div class="row justify-content-center pt-5">
                    {% for curso in cursos %}

                            <div class="col-12 col-md-4 m-2" style="max-width: 18rem;">
                                <div class="card">
                                    <article class="card-body">
                                        <h5 class="card-title text-truncate font-weight-bold" style="max-width: 12rem;">{{ curso }}</h5>
                                        <p class="card-text">Ao clicar neste <strong>Card</strong> você encontra mais artigos relacionado a disciplina!</p>
                                        <a href="{% url 'publication' curso.id %}" class="btn btn-footer-style">Ver itens!</a>
                                    </article>
                                </div>
                            </div>

                    {% endfor %}
                </div>
            </section>
        </main>
    {% include 'partials/_footer.html' %}
{% endblock %}
