{% extends 'partials/_base.html' %}
{% load static %}
{% block content %}
    {% include 'partials/_header.html' %}
    <main class="container-fluid pb-4 img-fundo">
        <section class="col-12" id="session-sobre">

            <h3 class="pt-4 pb-4 text-light" style="font-family: 'Merienda One', cursive; font-size: 30px; text-shadow: 5px 5px 5px #000000">
                Suas publicações, {{ user.first_name }} {{ user.last_name }} !
            </h3>

            {% if publications %}
                {% for publication in publications %}

                    <article class="list-group m-2" itemscope itemtype="http://schema.org/ScholarlyArticle">
                        <a itemprop="url" href="{% url 'article' publication.id %}" class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1 text-truncate font-weight-bold" itemprop="headline">{{ publication.summary }}</h5>
                            <time datetime="{{ publication.date_published }}">
                                <small itemprop="datePublished">{{ publication.date_published|date:"d/m/Y" }}</small>
                            </time>

                        </div>
                        <p class="mb-1 text-justify" itemprop="abstract" style="font-size: 12px;">{{ publication.abstract|slice:":400" }}...</p>
                        <small itemprop="author">{{ publication.author }}, <span itemprop="contributor">{{ publication.contributor }}</span></small>
                        </a>
                    </article>
                {% endfor %}
            {% else %}
                <div class="alert alert-light col-12" role="alert">
                    <p>Não existe publicações para serem mostradas!</p>
                </div>
            {% endif %}
        </section>

        {% include 'partials/_pagination.html' %}
    </main>
    {% include 'partials/_footer.html' %}
{% endblock %}
