{% extends 'partials/_base.html' %}
{% load static %}
{% block content %}
    <main class="mt-5">
        <section class="container text-center tamanho-componente">
            <form action="{% url 'create_submission' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <a class="close" aria-label="Close" href="{% url 'index' %}">
                    <span aria-hidden="true">&times;</span>
                </a>

                <figure>
                    <img class="mb-5" src="{% static 'img/logo.png' %}" alt="Imagem do logotipo do sistema" width="120" height="72">
                </figure>

                <h1 class="mb-5 font-weight-normal" \
                style="font-family: 'Merienda One', cursive; font-size: 30px;">
                    Publique seu trabalho aqui!
                </h1>

                <hr class="w-100 clearfix d-md-none">

                <p class="text-justify mb-5"> Para realizar a submissão preencha os campos abaixo, mas resaltamos que a aprovação do seu
                    trabalho irá para analise do corpo adjunto ao repositório para avaliação. Assim que aceito,
                    você receberá um informativo via e-mail.</p>

                <hr class="w-100 clearfix d-md-none">
                {% include 'partials/_alerts.html' %}
                <div class="row">
                    <div class="input-group col-12 mb-3">
                        <input type="text" class="form-control" placeholder="Autor Principal: {{ user.first_name }} {{ user.last_name }}" readonly>
                    </div>

                    <div class="input-group col-12 mb-3">
                        <input type="text" name="summary" class="form-control" placeholder="Título do trabalho" required>
                    </div>

                    <div class="input-group col-12 mb-3">
                        <textarea name="abstract" class="form-control" rows="7" placeholder="Insira seu resumo!"></textarea>
                    </div>

                    <div class="input-group col-12 mb-3">
                        <input type="text" class="form-control" name="contributor" placeholder="Outro autor ?">
                    </div>

                    <div class="input-group col-12 mb-3">
                        <select class="custom-select d-block w-100" name="genre" required>
                            <option value="a">Artigo</option>
                            <option value="m">Monografia</option>
                            <option value="r">Relatório Técnico</option>
                            <option value="t">Tese</option>
                        </select>
                    </div>

                    <div class="input-group col-12 mb-3">
                        <input type="text" name="institute" class="form-control" placeholder="Qual a organização ?">
                    </div>

                    <div class="input-group col-12 mb-3">
                        <select class="custom-select d-block w-100" name="course" required>
                            {% for course in courses%}
                                <option value="{{ course.id }}">{{ course.description }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="input-group col-12 mb-3">

                        <div class="input-group-prepend">
                            <span class="input-group-text">Arquivo</span>
                        </div>

                        <div class="custom-file">
                            <input type="file" name="docfile" class="custom-file-input" id="inputGroupFile01">
                            <label class="custom-file-label" for="inputGroupFile01">PDF</label>
                        </div>
                    </div>

                    <div class="custom-control custom-checkbox col-12 mb-5">
                        <input type="checkbox" name="access_open" class="custom-control-input" id="same-address" checked>
                        <label class="custom-control-label" for="same-address">Autoriza o acesso livre ao seu trabalho ?</label>
                    </div>

                </div>

                <button class="btn btn-lg btn-footer-style btn-block mb-3" type="submit" >Confirmar</button>

                <hr class="w-100 clearfix d-md-none">

                <p class="mt-5 mb-3 text-muted">&copy; 2020 - v1.0.0</p>



              </form>
        </section>
    </main>
{% endblock %}
