{% extends 'partials/_base.html' %}
{% load static %}
{% block content %}


    <main class="mt-5">
        <section class="col-12 container tamanho-componente">

            <a class="close" aria-label="Close" href="{% url 'index' %}">
                <span aria-hidden="true">&times;</span>
            </a>

            <figure class="text-center">
                <img class="mb-5" src="{% static 'img/logo.png' %}" alt="Imagem do logotipo do sistema" width="120" height="72">
            </figure>

            <h1 class="mb-5 font-weight-normal text-center" \
            style="font-family: 'Merienda One', cursive; font-size: 30px;">
                Publicações referente ao item de coleção: {{ course.description }}
            </h1>

            <hr class="w-100 clearfix d-md-none">

            {% include 'partials/_search.html' %}

            <hr class="w-100 clearfix d-md-none">
            {% if publications %}
                {% for publication in publications %}

                    <article class="list-group m-2" itemscope itemtype="http://schema.org/ScholarlyArticle">
                        <a itemprop="url" href="{% url 'article' publication.id %}" class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1 text-truncate font-weight-bold" itemprop="headline">{{ publication.summary }}</h5>
                            <time datetime="{{ publication.date_published }}">
                                <small itemprop="datePublished">{{ publication.date_published|date:"d/m/Y" }}</small>
                            </time>

                        </div>
                        <p class="mb-1 text-justify" itemprop="abstract" style="font-size: 12px;">{{ publication.abstract|slice:"250" }}...</p>
                        <small class="text-left" itemprop="author">{{ publication.author }}, <span itemprop="contributor">{{ publication.contributor }}</span></small>
                        </a>
                    </article>
                {% endfor %}
            {% else %}
                <div class="alert alert-light col-12" role="alert">
                    <p>Não existe publicações para serem mostradas!</p>
                </div>
            {% endif %}

            {% include 'partials/_pagination.html' %}

            <hr class="w-100 clearfix d-md-none">

            <p class="mt-5 mb-3 text-muted text-center">&copy; 2020 - v1.0.0</p>

        </section>
    </main>
{% endblock %}
