{% extends 'partials/_base.html' %}
{% load static %}
{% block content %}
    {% include 'partials/_header.html' %}
    <main class="container-fluid img-fundo text-light">
      <section itemscope itemtype="http://schema.org/Periodical" class="pt-4" id="session-sobre">

          <h1 itemprop="name" style="font-family: 'Merienda One', cursive; font-size: 40px; text-shadow: 5px 5px 5px #000000">
              Oi, {{user.first_name}} {{ user.last_name }} !
          </h1>

          <p itemprop="offers" class="text-justify p-2"> Estando nesta página, fique a vontade para escolher como seu projeto será submetido.
              Gostariamos de lhe informar que é gratificante receber sua publicação em nosso
              repositório, mesmo ainda não clicando e deixando seu projeto. Fique a vontade!<br>
              Mas lhe informo que seu trabalho ira ser avaliado antes da publicação, fique atendo ao seu e-mail.
          </p>
      </section>

      <hr class="w-100 clearfix bg-light">

      <section>

        <h2 style="font-family: 'Merienda One', cursive; font-size: 30px; text-shadow: 5px 5px 5px #000000">Como publicar ?</h2>

        <p class="text-justify p-2">Nesta versão do repositório é possivel realizar as submissões de forma automatica de <strong>duas</strong> maneiras!</p>


        <div class="accordion pb-5" id="accordionExample">
          <div class="card">

            <article class="card-header" id="headingOne">

              <h2 class="mb-0">
                <button class="btn btn-link btn-block text-left cor-texto-teal text-decoration-none" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  1º Forma de submissão!
                </button>
              </h2>

            </article>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
              <article class="card-body">

                  <p class="text-justify text-dark p-4">
                      Insira no campo abaixo a url que se encontra seu trabalho publicado em PDF,
                      o repositorio apenas aceita os arquivos com esta extensão, caso não seja o
                      mesmo não irá realizar a submissão de forma automatica. Sendo assim, se o
                      arquivo ser de outra extensão, entre em <a href="#" data-toggle="modal" data-target="#exampleModal">contato</a> conosco!
                  </p>

                  <form class="input-group p-2">

                    <input type="text" class="form-control " placeholder="http://exemplo.com.br/seu-artigo-publicado.pdf" aria-label="Entre com url" aria-describedby="button-addon2">

                    <div class="input-group-append">
                      <button class="btn btn-footer-style" type="submit" id="button-addon2">Confirmar</button>
                    </div>

                  </form>

              </article>
            </div>

          </div>

          <div class="card">

            <article class="card-header" id="headingTwo">
              <h2 class="mb-0">
                <button class="btn btn-link btn-block text-left collapsed cor-texto-teal text-decoration-none" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  2º Forma de submissão:
                </button>
              </h2>
            </article>

            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
              <article class="card-body text-dark">

                <form>
                  <div class="form-group p-2">
                    <label for="exampleFormControlFile1">Insira o arquivo PDF aqui!</label>
                    <input type="file" class="form-control-file" id="exampleFormControlFile1">
                  </div>

                  <div class="form-group p-2">
                      <input class="btn btn-footer-style col-12 col-md-2" type="submit" value="Confirmar">
                  </div>

                </form>

              </article>
            </div>
          </div>
        </div>
      </section>
    </main>
    {% include 'partials/_footer.html' %}
{% endblock %}
