{% extends 'partials/_base.html' %}
{% load static %}
{% block content %}
    {% include 'partials/_header.html' %}
    <main class="container-fluid pb-2 img-fundo">
        <section id="session-sobre">

            <h1 class="text-light text-center pt-4 pb-4" \
            style="font-family: 'Merienda One', cursive; font-size: 40px; text-shadow: 5px 5px 5px #000000">Sobre Repositório</h1>

            <p class="text-light text-center pb-4 font-weight-bold">
                Repositório desenvolvido para armazenamento, organizanização e estruturação
                Semântica, contendo informações sobre publicações de conteúdos
                de alta qualidade produzidos pelas Faculdades de Tecnologias do Estado
                de São Paulo (Fatecs).
            </p>
        </section>

        <hr class="w-100 clearfix bg-light mb-4">

        <div class="row">
            <section class="col-12 col-md-7">

                <h2 class="pt-4 text-light text-center" \
                style="font-family: 'Merienda One', cursive; font-size: 35px; text-shadow: 5px 5px 5px #000000">
                    Tipos de Produção
                </h2>

                <div class="row justify-content-center pt-5">
                    {% for curso in cursos %}

                            <div class="col-12 col-md-5 m-2" style="max-width: 20rem;">
                                <div class="card">
                                    <article class="card-body">
                                        <h5 class="card-title text-truncate font-weight-bold" style="max-width: 12rem;">{{ curso }}</h5>
                                        <p class="card-text">Ao clicar neste <strong>Card</strong> você encontra mais artigos relacionado a disciplina!</p>
                                        <a href="{% url 'publication' curso.id %}" class="btn btn-footer-style">Ver mais!</a>
                                    </article>
                                </div>
                            </div>

                    {% endfor %}
                </div>
            </section>
            <hr class="w-100 clearfix d-md-none bg-light">
            <aside class="col-12 col-md-5" style="border-left: 1px solid; border-color: #f5f5f5;">
                <h3 class="pt-4 pb-4 text-light" style="font-family: 'Merienda One', cursive; font-size: 30px; text-shadow: 5px 5px 5px #000000">
                    Submissões recentes
                </h3>
                {% if publications %}
                    {% for publication in publications %}

                        <article class="list-group m-2" itemscope itemtype="http://schema.org/ScholarlyArticle">
                            <a itemprop="url" href="{% url 'article' publication.id %}" class="list-group-item list-group-item-action">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1 text-truncate font-weight-bold" itemprop="headline" >{{ publication.summary|capfirst }}</h5>
                                <time datetime="{{ publication.date_published }}">
                                    <small itemprop="datePublished">{{ publication.date_published|date:"d/m/Y" }}</small>
                                </time>

                            </div>
                            <p class="mb-1 text-justify" itemprop="abstract" style="font-size: 12px;">{{ publication.abstract|slice:":250" }}...</p>
                            <small itemprop="author">{{ publication.author }}, <span itemprop="contributor">{{ publication.contributor }}</span></small>
                            </a>
                        </article>

                    {% endfor %}
                {% else %}
                    <div class="alert alert-light col-12" role="alert">
                        <p>Não existe publicações para serem mostradas!</p>
                    </div>
                {% endif %}
            </aside>
        </div>
    </main>
    {% include 'partials/_footer.html' %}
{% endblock %}
