{% extends 'partials/_base.html' %}
{% load static %}
{% block content %}
    <main class="mt-5">
        <section class="container text-center tamanho-componente">
            <form action="{% url 'register' %}" method="POST">
                {% csrf_token %}
                <a class="close" aria-label="Close" href="{% url 'signin' %}">
                    <span aria-hidden="true">&times;</span>
                </a>

                <figure>
                    <img class="mb-4" src="{% static 'img/logo.png' %}" alt="Imagem do logotipo do sistema" width="120" height="72">
                </figure>

                <h1 class="mb-5 font-weight-normal" \
                style="font-family: 'Merienda One', cursive; font-size: 30px;">
                    Realize o cadastro em nosso repositório!
                </h1>

                <hr class="w-100 clearfix d-md-none">

                <div class="row mb-3">
                    <div class="input-group col-12 col-md-7">
                        <input type="text" name="first-name" class="form-control espacamento-input" placeholder="Primeiro nome" maxlength="20" required>

                    </div>

                    <div class="input-group col-12 col-md-5">
                        <input type="text" name="last-name" class="form-control" placeholder="Segundo nome" maxlength="30" required>
                    </div>
                </div>

                <div class="mb-3">

                    <div class="input-group">
                        <input type="text" class="form-control" name="username" placeholder="Nome de usuário" maxlength="30" required>
                    </div>

                </div>

                <div class="mb-3">

                    <input type="email" class="form-control" name="email" placeholder="exemplo@exemple.com" maxlength="60" required>

                </div>

                <div class="row mb-5">
                    <div class="input-group col-12 col-md-6">
                        <input type="password" name="password" class="form-control espacamento-input" minlength="6" maxlength="14" placeholder="Entre com a senha">
                    </div>

                    <div class="input-group col-12 col-md-6">
                        <input type="password" name="confirm-password" class="form-control" minlength="6" maxlength="14" placeholder="Confirmar senha">
                    </div>
                </div>

                <button class="btn btn-lg btn-footer-style btn-block mb-3" type="submit" >Confirmar</button>

                <hr class="w-100 clearfix d-md-none">

                <p class="mt-5 mb-3 text-muted">&copy; 2020 - v1.0.0</p>

                {% include 'partials/_alerts.html' %}
              </form>

        </section>
    </main>
{% endblock %}
