{% extends 'partials/_base.html' %}
{% load static %}
{% block content %}
    <main class="mt-4 pt-2">
        <section class="text-center">
            <form action="{% url 'signin' %}" class="form-signin" method="POST">
                {% csrf_token %}
                <a class="close" aria-label="Close" href="{% url 'index' %}">
                    <span aria-hidden="true">&times;</span>
                </a>

                <figure>
                    <img class="mb-4" src="{% static 'img/logo.png' %}" alt="" width="120" height="72">
                </figure>

                <h1 class="mb-5 font-weight-normal" \
                style="font-family: 'Merienda One', cursive; font-size: 30px;">
                    Por favor, Acesse.
                </h1>

                <hr class="w-100 clearfix d-md-none">

                <label for="inputEmail" class="sr-only">Email</label>
                <input type="email" name="email" id="inputEmail" class="form-control mb-3" placeholder="exemplo@exemplo.com" required autofocus>

                <label for="inputPassword" class="sr-only">Senha</label>
                <input type="password" name="password" id="inputPassword" class="form-control mb-5" placeholder="Informe sua senha" required>

                <button class="btn btn-lg btn-footer-style btn-block mb-3" type="submit">Confirmar</button>

                <div class="">
                    <label>
                      <a href="{% url 'register' %}" class="cor-texto-teal text-decoration-none"> Cadastre-se aqui!</a>
                    </label>
                </div>

                <hr class="w-100 clearfix d-md-none">

                <p class="mt-5 mb-3 text-muted">&copy; 2020 - v1.0.0</p>

                {% include 'partials/_alerts.html' %}
            </form>
        </section>
    </main>
{% endblock %}
